# Final Project Group 15

In this notebook we will carry out the experiments to support our research questions.

Group Members:

Andres Garcia - 2646142

## Package Imports

Run the cell below first always!

In [2]:
# Run this cell before anything else to import the packages you are allowed to used for this assignment

import numpy as np
import pandas as pd
import sklearn
from scipy import stats
import statsmodels.api as sm

pd.options.display.max_rows = 20

## Loading the Datasets

In [28]:
#store the data files location
booksdatafile   = 'books_data/books.csv'
ratingsdatafile  = 'books_data/ratings.csv'
usersdatafile = 'books_data/users.csv'

#load the data as dataframes
booksdf = pd.read_csv(booksdatafile, sep=";", 
                    error_bad_lines=False, encoding="latin-1")
booksdf.drop(['Image-URL-S', 'Image-URL-M', 'Image-URL-L'],axis=1,inplace=True) #remove the columns we wont use

ratingsdf = pd.read_csv(ratingsdatafile, sep=";", 
                    error_bad_lines=False, encoding="latin-1");
usersdf = pd.read_csv(usersdatafile, sep=';', 
                    error_bad_lines=False, encoding="latin-1");

C:\Users\andre\AppData\Local\Temp\ipykernel_10964\1395339777.py:7: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  booksdf = pd.read_csv(booksdatafile, sep=";",
Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

C:\Users\andre\AppData\Local\Temp\ipykernel_10964\1395339777.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  booksdf = pd.read_csv(booksdatafile, sep=";",
C:\Users\andre\AppData\Local\Temp\ipykernel_10964\1395339777.py:11: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratingsdf = pd.read_csv(ratingsdatafile, sep=";",
C:\Users\andre\AppData\Local\Temp\ipykernel_10964\1395339777.py:13: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  usersdf = pd.read_csv(usersdatafile, sep=';',

### Books Dataset

In [29]:
booksdf.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

### Users Dataset

In [26]:
usersdf.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

### Ratings Dataset

In [27]:
ratingsdf.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

## Merging the frames
In order to avoid some calculations all over the dataframes provided, we instead can merge them toguether since the three dataframes are connected through the user-id and the ISBN columns. This way it will be much easier to query the merged frame for information.

In [32]:
merge_rating_books = pd.merge(ratingsdf, booksdf, on='ISBN')
finaldf = pd.merge(merge_rating_books, usersdf, on='User-ID')
finaldf.head(5)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Location,Age
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,"tyler, texas, usa",NaN
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,"cincinnati, ohio, usa",23.0
2,2313,0812533550,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986,Tor Books,"cincinnati, ohio, usa",23.0
3,2313,0679745580,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,1994,Vintage,"cincinnati, ohio, usa",23.0
4,2313,0060173289,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996,HarperCollins,"cincinnati, ohio, usa",23.0

It is important to understand that some information will be easier to access from the individual dataframes, for example, calculating how many users are from a given country should be done in the individual dataframe, as the merge one will contain several instances of the same user if they have bought more than one book, which will produce a seemingly valid yet incorrect representation of the user demographics.

# Data Analysys
In this section we will carry out all the statistical data analysis in order to obtain valuable data to support or inspire our research questions

### Highest Rated Author

In [37]:
mean_author_ratings = finaldf.groupby(['Book-Author'])['Book-Rating'].mean()
highest_rated_author = mean_author_ratings.idxmax()
print("Author with the highest average book ratings:", highest_rated_author)

Author with the highest average book ratings: A. D. Mills

### Highest Rated Publisher

In [39]:
mean_pub_ratings = finaldf.groupby(['Publisher'])['Book-Rating'].mean()
highest_rated_pub = mean_pub_ratings.idxmax()
print("Publisher with the highest average book ratings:", highest_rated_pub)

Publisher with the highest average book ratings:  Editions P. Terrail

### Top Rated Books

In [73]:
mean_book_ratings = finaldf.groupby(['Book-Title'])['Book-Rating'].mean()
sorted_books = mean_book_ratings.sort_values(ascending=False)

top_rated_books = sorted_books.head(10)
top_rated_books = top_rated_books.index


# display(top_rated_books)
print("-----------------------------------------------------Top 10 Rated Books--------------------------------------------------")
i = 1
for title in top_rated_books:
    print( "Nr. " + str(i) +  " - " + title)
    i += 1

-----------------------------------------------------Top 10 Rated Books--------------------------------------------------
Nr. 1 - Film Is: The International Free Cinema
Nr. 2 - More Secrets of Happy Children: Embrace Your Power as a Parent--and Help Your Children be Confident, Positive, Well-Adjusted and Happy
Nr. 3 - Jo's Boys : From the Original Publisher
Nr. 4 - The Vanished Priestess : An Annie Szabo Mystery
Nr. 5 - Game and Hunting
Nr. 6 - Joan Miro: 1893-1983 (Basic Series)
Nr. 7 - The Vampire's Apprentice
Nr. 8 - The Vampire in Lore and Legend (Dover Books on Anthropology and Folklore)
Nr. 9 - The Vampire in Literature: A Critical Bibliography (Studies in Speculative Fiction, No 21)
Nr. 10 - Something Unpredictable: A Novel