# Final Project Group 15

In this notebook we will carry out the experiments to support our research questions.

Group Members:

Andres Garcia - 2646142

## Package Imports

Run the cell below first always!

In [2]:
# Run this cell before anything else to import the packages you are allowed to used for this assignment

import numpy as np
import pandas as pd
import sklearn
from scipy import stats
import statsmodels.api as sm

pd.options.display.max_rows = 20

## Loading the Datasets

In [23]:
#store the data files location
booksdatafile   = 'books_data/books.csv'
ratingsdatafile  = 'books_data/ratings.csv'
usersdatafile = 'books_data/users.csv'

#load the data as dataframes
booksdf = pd.read_csv(booksdatafile, sep=";", 
                    error_bad_lines=False, encoding="latin-1");
ratingsdf = pd.read_csv(ratingsdatafile, sep=";", 
                    error_bad_lines=False, encoding="latin-1");
usersdf = pd.read_csv(usersdatafile, sep=';', 
                    error_bad_lines=False, encoding="latin-1");

C:\Users\andre\AppData\Local\Temp\ipykernel_10964\2538394829.py:7: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  booksdf = pd.read_csv(booksdatafile, sep=";",
Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

C:\Users\andre\AppData\Local\Temp\ipykernel_10964\2538394829.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  booksdf = pd.read_csv(booksdatafile, sep=";",
C:\Users\andre\AppData\Local\Temp\ipykernel_10964\2538394829.py:9: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratingsdf = pd.read_csv(ratingsdatafile, sep=";",
C:\Users\andre\AppData\Local\Temp\ipykernel_10964\2538394829.py:11: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  usersdf = pd.read_csv(usersdatafile, sep=';',

### Books Dataset

In [25]:
booksdf.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Users Dataset

In [26]:
usersdf.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

### Ratings Dataset

In [27]:
ratingsdf.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6